<%- include('../partials/header') %>

<h1>New Skill</h1>

<form action="/skills" method="POST" autocomplete="off">
  <input type="text" placeholder="Please enter you new skill" name="skill">
  <input type="submit" value="SAVE SKILL">
</form>

<%- include('../partials/footer') %>
